@import url(../../styles/index.css);

main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--off-white);
  padding-bottom: 11rem;
  min-height: calc(100vh - 21rem);
}

.gallery {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  width: 130rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 63.9rem);
  overflow: hidden;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 63.9rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background-color: #eeeeee;
}

.caliberCase {
  height: 36.253rem;
}

.image {
  position: absolute;
  height: 63.9rem;
  min-width: 42.6rem;
  width: auto;
  object-fit: cover;
  border-radius: 1.25rem;
}

.caliberImg {
  height: 36.253rem;
}

/* #rrgContainer0,
#rrgContainer10,
#rrgContainer14,s
#rrgContainer18 {
  grid-column: 1 / 3;
}

#rrgContainer6,
#rrgContainer13,
#rrgContainer17 {
  grid-column: 2 / 4;
} */
