@import url(/styles/index.css);

.contactContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90rem;
  background-color: var(--off-white);
}

@media (max-device-width: 600px) {
  .contactContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 78.1rem;
  }
}

.michaelangeloHand {
  display: block;
  position: absolute;
  top: 44rem;
  right: -5rem;
  width: 46.732rem;
  height: 26.447rem;
}

@media (max-device-width: 600px) {
  .michaelangeloHand {
    display: none;
  }
}

.contactContent {
  display: flex;
  position: absolute;
  top: 24.985rem;
  flex-direction: column;
  align-items: center;
}

.contactHeading {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--medium-blue);
}

.contactSubheading {
  display: block;
  width: 25.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--medium-blue);
  padding-top: 1.2rem;
  text-align: center;
  line-height: 150%;
}

.contactBtn {
  position: relative;
  width: 20rem;
  height: 5rem;
  top: 15.9rem;
  transition: all 0.3s ease-out;
}

.contactBtn:hover {
  transform: translateY(-1rem);
}

.contactBtnOutline {
  position: absolute;
  width: 20rem;
  height: 5rem;
  opacity: 0;
  border: 0.2rem solid var(--medium-blue);
  background-color: var(--off-white);
  transition: all 0.1s ease-out;
}

.contactBtnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20rem;
  height: 5rem;
  outline: none;
  text-decoration: none;
  background: var(--medium-blue);
  opacity: 1;
}

.contactButtonText {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--off-white);
}

@media (max-device-width: 600px) {
  .contactContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 33.1rem;
  }

  .contactBtn {
    top: 5.6rem;
  }

  .contactBtn:hover {
    transform: none;
  }
}
