@import url(/styles/index.css);

.navbar {
  position: sticky;
  top: 0;
  transition: top 0.5s ease;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
  background-color: var(--off-white);
  /* background-image: var(--back-grain); */
  background-size: 35rem auto;
  overflow: hidden;
  padding: 0 7rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--medium-blue);
  border-bottom: 0.05rem solid var(--medium-blue);
  transition: 0.3s ease-out;
}

@media screen and (max-width: 600px) {
  .navbarContainer {
    position: relative;
    padding: 0;
    width: 100%;
    height: 9.6rem;
    overflow: visible;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--off-white);
  }
}

.navbarContainerDark {
  background-color: var(--medium-blue);
  background-image: none;
  overflow: hidden;
  color: var(--off-white);
  border-bottom: 0.05rem solid var(--off-white);
  font-weight: 300;
}

.navbarLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20.4rem;
  transition: all 0.2s ease-out;
  opacity: 0;
  transition: all 0.5s ease-out;
  animation: navLogoLoad 0.5s ease-out 3.5s forwards;
}

@keyframes navLogoLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navLogoSymbol {
  width: 5.9rem;
  height: 4.9rem;
}

.navLogoWriting {
  width: 12.1rem;
  height: 2.6rem;
}

.navbarLogo:hover {
  translate: 0 -0.5rem;
}

@media screen and (max-width: 600px) {
  .navbarLogo {
    margin-left: 2.5rem;
  }

  .navbarContainerDark {
    overflow: visible;
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  .navbarToggle {
    opacity: 0;
    transition: all 0.5s ease-out;
    animation: navLogoLoad 0.5s ease-out 3.6s forwards;
  }

  @keyframes hamburgerLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navbarToggle .bar {
    display: block;
    width: 4rem;
    height: 0.3rem;
    margin: 0.5rem 2.5rem 0.5rem 0;
    transition: all 0.3s ease-in-out;
    background: var(--medium-blue);
    cursor: pointer;
  }

  #mobileMenu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobileMenu.is-active .bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }

  #mobileMenu.is-active .bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}

.navbarMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76.1rem;
  list-style: none;
}

.navbarItem {
  height: 11rem;
  opacity: 0;
  transform: translateY(3rem);
}

.navbarItem:first-child {
  animation: itemLoad 0.5s ease-out 3.1s forwards;
}

.navbarItem:nth-child(2) {
  animation: itemLoad 0.5s ease-out 3.2s forwards;
}

.navbarItem:nth-child(3) {
  animation: itemLoad 0.5s ease-out 3.3s forwards;
}

.navbarItem:nth-child(4) {
  animation: itemLoad 0.5s ease-out 3.4s forwards;
}

@keyframes itemLoad {
  0% {
    transform: translateY(-3rem);
  }
  33% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  height: 100%;
  transition: all 0.2s ease-out;
}

.navbarLinks:hover {
  translate: 0 -0.5rem;
}

@media screen and (max-width: 600px) {
  .navbarMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    width: 100%;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 46rem;
    background: var(--medium-blue);
    z-index: -1;
  }

  .active {
    top: 100%;
    opacity: 1;
    z-index: 99;
  }

  .navbarItem {
    padding-top: 4.5rem;
    height: fit-content;
  }
}

.navbarLinksText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--medium-blue);
  padding: 1.6rem;
  height: 11rem;
  white-space: nowrap;
}

.navbarLinksTextDark {
  color: var(--off-white);
}

@media screen and (min-width: 600px) {
  .navbarLinksText::before {
    content: attr(data-hover);
    color: transparent;
    position: absolute;
    overflow: hidden;
    left: 1.6rem;
    padding: 0.8rem 0;
    max-width: 0;
    border-bottom: 0.15rem solid var(--medium-blue);
    transition: max-width 0.5s;
  }

  .navbarLinksTextDark::before {
    border-bottom: 0.1rem solid var(--off-white);
  }

  .navbarLinksText:hover::before {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbarLinksText {
    color: var(--off-white);
    padding: 0;
    height: fit-content;
  }
}

.navbarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 8rem;
  height: 4rem;
  outline: none;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--medium-blue);
  background: var(--medium-blue);
  color: var(--off-white);
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  animation: buttonLoad 0.5s ease-out 3.7s forwards;
}

@keyframes buttonLoad {
  0% {
    transform: translateY(-3rem);
  }
  33% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.navButtonDark {
  border: 0.15rem solid var(--off-white);
  background: var(--medium-blue);
  color: var(--off-white);
}

.navbarButton:hover {
  text-indent: 15rem;
}

.buttonArrow {
  position: absolute;
  right: 8rem;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 600px) {
  .navbarButton {
    width: 34.3rem;
    height: 8.2rem;
    margin-top: 4.5rem;
    padding: 0 2.5rem;
    border-radius: 0.8rem;
    background: var(--off-white);
    color: var(--medium-blue);
    opacity: 0;
    transition: all 0.3s ease;
    animation: buttonLoad 0.5s ease-out 3.7s forwards;
  }

  .buttonArrow {
    display: none;
  }

  .navbarButton:hover {
    text-indent: initial;
  }
}
