@import url(/styles/index.css);

.skillsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80rem;
  background-color: var(--off-white);
}

.skillsDiv {
  position: relative;
  display: flex;
  top: 16.45rem;
  width: 108rem;
  height: 53.4rem;
  z-index: 2;
}

@media (max-device-width: 600px) {
  .skillsContainer {
    height: 55rem;
  }

  .skillsDiv {
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    width: 100%;
    height: 49rem;
    padding-top: 5.5rem;
  }
}

.skillsMenu {
  position: relative;
  height: 26rem;
  top: -2rem;
  border-top: 2rem solid var(--off-white);
  border-bottom: 2rem solid var(--off-white);
}

.skillsMenuSelection {
  display: flex;
  position: absolute;
  cursor: pointer;
}

.skillsMenuSelectionBar {
  width: 0.5rem;
  height: 4.4rem;
  background-color: var(--medium-blue);
}

.skillsSelectionBackground {
  background-color: var(--blue-green-heavy);
  opacity: 0.25;
  width: 17.5rem;
  height: 4.4rem;
}

.skillsMenuOption {
  display: flex;
  cursor: pointer;
}

.skillsMenuOptionBar {
  width: 0.5rem;
  height: 4.4rem;
  background-color: var(--blue-green-light);
}

.skillsMenuOptionBackground {
  display: flex;
  align-items: center;
  width: 17.5rem;
  height: 4.4rem;
  background-color: var(--off-white);
}

.skillsMenuOptionTxt {
  padding-left: 2rem;
  font-size: 1.4rem;
  color: var(--medium-blue);
  font-weight: 400;
  z-index: 3;
}

@media (max-device-width: 600px) {
  .skillsMenu {
    display: flex;
    height: 4rem;
    top: 3.2rem;
    left: 3rem;
    border: none;
    overflow-x: scroll;
  }

  .skillsMenuSelection {
    height: 4rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .skillsMenuSelectionBar {
    width: 14.2rem;
    height: 0.5rem;
    z-index: 99;
  }

  .skillsSelectionBackground {
    width: 14.2rem;
    height: 3.5rem;
  }

  .skillsMenuOption:nth-child(6) {
    margin-right: 5rem;
  }

  .skillsMenuOptionBar {
    display: none;
  }

  .skillsMenuOptionBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.2rem;
    height: 3.5rem;
  }

  .skillsMenuOptionTxt {
    padding-left: 0;
  }
}

.skillsContent {
  display: flex;
  justify-content: center;
  position: relative;
  width: 90rem;
  height: 53.4rem;
  background-color: var(--medium-blue);
}

.skillHeadingContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 7rem;
  top: 4.8rem;
  left: 4rem;
  background-color: var(--dark-blue);
  z-index: 1;
}

.skillHeadingText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  color: var(--off-white);
  transition: all 0.5s ease-out;
}

@media (max-device-width: 600px) {
  .skillsContent {
    width: 34.8rem;
    height: 39.089rem;
    background-color: initial;
    left: 2rem;
  }

  .skillHeadingContainer {
    width: 16.7rem;
    height: 4.2rem;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
    border-radius: 0.6rem;
    z-index: 2;
  }

  .skillHeadingText {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0;
  }
}

.technologyContainer {
  display: flex;
  position: relative;
  align-items: center;
  width: 74rem;
  height: 39.4rem;
  background-color: var(--blue-green-heavy);
  outline: 1rem solid var(--dark-blue);
  margin-top: 9.2rem;
}

.skillsTechList {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 28.6rem;
  margin-right: 1.6rem;
  left: 4.5rem;
  bottom: 2.1rem;
}

.skillsIcon {
  max-height: 2rem;
  max-width: 2rem;
}

.techGroup {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--medium-blue);
  border-radius: 0.5rem;
}

.techBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--medium-blue);
  border-radius: 1.5rem;
  margin-left: 0.8rem;
}

.techText {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  white-space: nowrap;
  color: var(--off-white);
}

@media (max-device-width: 600px) {
  .technologyContainer {
    position: absolute;
    top: 2.1rem;
    left: 1.5rem;
    width: 33.3rem;
    height: 36.989rem;
    outline: 0.5rem solid var(--dark-blue);
    border-radius: 0.6rem;
    margin-top: 0;
  }

  .skillsTechList {
    margin-right: 1rem;
    bottom: 0.3rem;
    left: 1.05rem;
  }

  .techGroup {
    position: relative;
  }

  .techBubble {
    display: none;
  }

  .mobileSkillClick {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 0;
    padding: 0;
    height: 3.6rem;
    background-color: var(--medium-blue);
    border-radius: 0 0.5rem 0.5rem 0;
    left: 3.6rem;
    margin-left: -0.5rem;
    z-index: 1;
    transition: all 0.3s ease-out;
  }

  .techText {
    opacity: 0;
    transition: all 0.1s ease-out;
  }
}

.heatLollisContainer {
  display: flex;
  position: absolute;
  right: 4.5rem;
  flex-direction: column;
}

.heatLolliRow {
  position: relative;
  display: flex;
}

.heat {
  width: 9.317rem;
  height: 5rem;
  border: 0.1rem solid var(--light-blue);
}

.heat:nth-child(2) {
  background-color: rgba(235, 236, 240, 0.5);
}

.heat:nth-child(3) {
  background-color: rgba(88, 145, 160, 0.5);
}

.heat:nth-child(4) {
  background-color: rgba(49, 105, 124, 0.5);
}

.heat:nth-child(5) {
  background-color: rgba(33, 72, 89, 0.5);
}

.heat:nth-child(6) {
  background-color: rgba(20, 48, 63, 0.5);
}

.heatLolliColHeaders {
  display: flex;
  margin-top: 1rem;
}

.colHeaderContainer {
  display: flex;
  justify-content: center;
  width: 9.317rem;
}

.heatLolliColHeader {
  position: relative;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.14rem;
  color: var(--off-white);
}

.lolli {
  position: absolute;
  display: flex;
  align-items: center;
  top: 1.8rem;
  left: 1.5rem;
}

.knowledgeLine {
  border: none;
  height: 0.2rem;
  background-color: var(--off-white);
  transition: all 0.5s ease-out;
}

.lolliCircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.8rem;
  background-color: var(--off-white);
}

.lolliUnknown {
  position: absolute;
  left: 1.5rem;
  width: 42.2rem;
  border: 0.05rem dashed var(--off-white);
  opacity: 0.5;
}

@media (max-device-width: 600px) {
  .heatLollisContainer {
    margin-top: 1.8rem;
    right: 1.05rem;
  }

  .heat {
    width: 5.353rem;
  }

  .colHeaderContainer {
    width: 5.353rem;
  }

  .heatLolliColHeader {
    font-weight: 400;
    font-size: 0.6rem;
    letter-spacing: 0.044rem;
  }

  .lolliUnknown {
    width: 23.7rem;
  }
}
